hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HotelType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Address" type="AddressType"/>
    </xs:sequence>

    <xs:attribute name="id" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="H\d{3}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="Rating" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="5"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>

      <xs:element name="State">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AZ"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="Zip">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{5}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="NearestAirport">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sky Harbor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
